<mat-card class="item-card" *ngFor="let item of items">
  <mat-card-header>
    <mat-card-title>{{ item.name }} - {{ item.category }}</mat-card-title>
    <!-- <mat-card-subtitle>{{ item.category }}</mat-card-subtitle> -->
  </mat-card-header>

  <mat-card-content>
    <!-- Decision label (if already decided) -->
    <div *ngIf="item.decision" class="decision-label"  (click)="toggleDecisionButtons(item.id)">
      <mat-icon
        class="decision-icon"
        [color]="getDecisionIconColor(item.decision)"
      >
        {{ getDecisionIcon(item.decision) }}
      </mat-icon>
      <span
        class="decision-text"
        [ngClass]="getDecisionColorClass(item.decision)"
      >
        {{ item.decision | titlecase }}
      </span>
    </div>

    <!-- Decision action buttons (always visible if no decision, or toggle for change) -->
    <div class="actions" *ngIf="!item.decision || showDecisionButtonsMap[item.id]">
      <button
        mat-icon-button
        color="primary"
        matTooltip="Keep"
        (click)="makeDecision(item.id, 'keep')"
      >
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        matTooltip="Donate"
        (click)="makeDecision(item.id, 'donate')"
      >
        <mat-icon>volunteer_activism</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        matTooltip="Sell"
        (click)="makeDecision(item.id, 'sell')"
      >
        <mat-icon>sell</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        matTooltip="Trash"
        (click)="makeDecision(item.id, 'trash')"
      >
        <mat-icon>delete_sweep</mat-icon>
      </button>
    </div>
  </mat-card-content>

  <!-- Crud buttons always visible -->
  <mat-card-actions class="crud-buttons">
    <button mat-icon-button color="primary" matTooltip="Edit Item" (click)="editItem(item)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" matTooltip="Delete Item" (click)="deleteItem(item.id)">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-icon-button matTooltip="View History" (click)="viewHistory(item.id)">
      <mat-icon>history</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
