<mat-card class="item-card" *ngFor="let item of items">
  <mat-card-header>
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="item.decision" class="decision-label">
      <mat-icon
        class="decision-icon"
        [ngStyle]="{ color: getDecisionIconColor(item.decision) }"
      >
        {{ getDecisionIcon(item.decision) }}
      </mat-icon>
      <span
        class="decision-text"
        [ngStyle]="{ color: getDecisionIconColor(item.decision) }"
      >
        {{ item.decision | titlecase }}
      </span>

      <!-- Change Decision Button -->
      <button
        mat-icon-button
        color="primary"
        matTooltip="Change Decision"
        (click)="toggleDecisionButtons(item.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <!-- mat-mini-fab -->
    <div class="actions" *ngIf="!item.decision || showDecisionButtonsMap[item.id]">
      <button
        mat-icon-button
        color="primary"
        matTooltip="Keep"
        (click)="makeDecision(item.id, 'keep')"
      >
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button
        mat-icon-button
        color="accent"
        matTooltip="Donate"
        (click)="makeDecision(item.id, 'donate')"
      >
        <mat-icon>volunteer_activism</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        matTooltip="Sell"
        (click)="makeDecision(item.id, 'sell')"
      >
        <mat-icon>sell</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        matTooltip="Trash"
        (click)="makeDecision(item.id, 'trash')"
      >
        <mat-icon>delete_sweep</mat-icon>
      </button>
    </div>
  </mat-card-content>

  <mat-card-actions class="crud-buttons">
    <button mat-icon-button color="primary" (click)="editItem(item)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteItem(item.id)">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-icon-button (click)="viewHistory(item.id)">
      <mat-icon>history</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
